<div>
  <div>
    <h1>
      <%= User.where({:id => session.fetch(:user_id)}).first.first_name%> <%= User.where({:id => session.fetch(:user_id)}).first.last_name%>'s bookmarks
    </h1>
  </div>
</div>

<div>
  <div>
    <form action="/insert_bookmark" method="post">

      <div>
        <select id="movie_id_box" name="query_movie_id">
          <% Movie.all.each do |a_movie| %>
            <option value = <%= a_movie.id %>> <%= a_movie.title %> </option>
          <% end %>
        </select>
      

      <button>
        Bookmark this movie!
      </button>
    </form>
    </div>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="table" border="1">
      <tr>
        <th>
          Movie
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>
      <tr>
        <% @list_of_bookmarks.each do |a_bookmark| %>
        <td>
          <a href="/movies/<%= a_bookmark.movie_id %>">
            <%= a_bookmark.movie.title %>
          </a>
        </td>

        <td>
          <%= a_bookmark.created_at %>
        </td>

        <td>
          <a href="/delete_bookmark/<%= a_bookmark.id %>">
            Un-bookmark
          </a>
        </td>
      </tr>
      <% end%>
    </table>

  </div>
</div>